<!-- recebe o unidade.login do controller/home.js após o login --> 
<% include ../header %>
<% include ../navbar %>
<% include ../ranking %>

<div class="container-fluid">
<div class="row">
<% for(var i=0; i<metas.length; i++) { %>
<div class="col-lg-6">
<div class="panel-group" id="accordion<%= [i] %>">
<% if(metaAtingida[i]) { %>
	  <div class="panel panel-success">
  <% } else { %>
    <div class="panel panel-danger">
  <% } %> <!-- Fim do if-else -->
  <div class="panel-heading">
    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne<%= [i] %>1"><center><%= metas[i].indicador %></center></a></h4>
  </div>
  <div id="collapseOne<%= [i] %>1" class="panel-collapse collapse in">
    <div class="panel-body">
<!-- Progress bar das metas -->
      <h3>Meta: <%= metas[i].meta.toFixed(2) %>%</h3>
      <h3>Atingido: <%= resultado[i] %>%</h3> 
	    <div class="progress progress-striped active">
	     <% if(metaAtingida[i]) { %>
	       <div class="progress-bar progress-bar-success" style="width: <%= resultado[i] %>%">
	     <% } else { %>
	       <div class="progress-bar progress-bar-danger" style="width: <%= resultado[i] %>%">
	     <% } %> <!-- Fim do if-else -->
	       <%= resultado[i] %>%
	       </div>
	    </div>
<!-- Progress bar das metas -->
<!-- Frase de Feedback -->
      <center><small>
	    <% if(metaAtingida[i]) { %>
	        Parabéns!!! Continue com o bom trabalho para manter a meta. :)
	    <% } else { %>
	        Cuidado!!! Esta meta não está garantida. :(
	    <% } %> <!-- Fim do if-else -->
      </center></small>
<!-- Frase de Feedback -->
      </div>
  </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion<%= [i] %>" href="#collapseTwo<%= [i] %>1">
      <center>Resumo</center></a></h4>
    </div>
    <div id="collapseTwo<%= [i] %>1" class="panel-collapse collapse">
<!-- Resumo -->      
      <div class="panel-body">
        <p>Realizado: <%= metas[i].apurado %></p>
        <p>Total: <%= metas[i].total %></p>
        <p>Esperado (%): <%= metas[i].meta.toFixed(2) %>%</p>
        <p>Realizado (%): <%= resultado[i] %>%</p>
        <p>Atualização : <%= metas[i].dataApuracao.toISOString().substr(0, 10).split('-').reverse().join('/') %></p>
      </div>
<!-- Resumo -->
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion<%= [i] %>" href="#collapseThree<%= [i] %>1">
      <center>Informações</center></a></h4>
    </div>
    <div id="collapseThree<%= [i] %>1" class="panel-collapse collapse">
<!-- Informações -->
      <div class="panel-body">
        <p>Indicador: <%= metas[i].indicador %></p>
        <p>Meta: <%= metas[i].descricao %></p>
        <p>Fórmula: <%= metas[i].formula %></p> 
        <p align="justify">Descrição: <%= metas[i].esclarecimento %></p>
      </div>
<!-- Informações -->
    </div>
  </div>
  
</div>
</div>
<% } %><!-- Fim do for -->
</div>
</div>

<% include ../footer %>